/**
 * Handles responsive design through the use of the @respond-to mixin
 * 
 * @param $size ('tablet', 'mobile')
 */
.people {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.people .avatar {
  background: url('/vcweb2/assets/web/images/friend.png?1335923939') center center no-repeat;
  width: 106px;
  height: 106px;
}
.people .avatar img {
  margin: 0 auto;
  padding-top: 28px;
  display: block;
}
.people .name {
  color: #777777;
  display: block;
  //white-space: nowrap;
  //overflow: hidden;
  //text-overflow: ellipsis;
}
.people a.name {
  text-decoration: underline;
}
.people .invite {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url('/vcweb2/assets/web/images/ClubbingOwlInviteButton.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 113px;
  height: 24px;
  display: block;
  margin: 10px auto;
}
.people li {
  float: left;
  width: 20%;
  height: 163px;
  text-align: center;
}
.people .avatar {
  margin: 0 auto;
}
.people .name {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .people li {
    width: 25%;
  }
}
@media screen and (max-width: 479px) {
  .people li {
    width: 33%;
  }
}

.people {
  margin-top: 40px;
}




//#friends_list div#unauth_content_holder > h1{
//	  font: 0/0 a;
//	  text-shadow: none;
//	  color: transparent;
//	  //background: url('/vcweb2/assets/web/images/logo_large.png?1335304870') left center no-repeat;
//	  background: url('/vcweb2/assets/web/images/ClubbingOwlBackgroundWeb.png?1335926711') center center no-repeat;
//	  width: 699px;
//	  height: 79px;
//	  margin: 0 auto 100px;	
//}
#friends_list div#unauth_content_holder{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 370px;
	min-height: 600px;
	background: url('/vcweb2/assets/web/images/ClubbingOwlBackgroundWeb.png?1335926711') center center no-repeat;
	//background: url('/vcweb2/assets/web/images/splash.png?1335926711') center center no-repeat;
}
#friends_list div#unauth_content_holder > p.message{
	font-size: 30px;
	  width: 78%;
	  margin-left: auto;
	  margin-right: auto;
	  color: #000;
	  text-align: center;
}