/**
 * Handles responsive design through the use of the @respond-to mixin
 * 
 * @param $size ('tablet', 'mobile')
 */
.home {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 280px;
//  min-height: 826px;
  min-height: 600px;
//  background: url('/vcweb2/assets/web/images/splash.png?1335926711') center top no-repeat;
  background: url('/vcweb2/assets/web/images/ClubbingOwlBackgroundWeb.png') center top no-repeat;
}
.home h1 {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
//  background: url('/vcweb2/assets/web/images/logo_large.png?1335304870') left center no-repeat;
  background: url('/vcweb2/assets/web/images/ClubbingOwl_COlogo_purple_700x132.jpeg?1335304870') left center no-repeat;
  width: 699px;
  height: 130px;
  margin: 0 auto 100px;
}
.home p {
  font-size: 30px;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  text-align: center;
}
.home .fb-connect {
  margin: 50px auto;
  width: 319px;
  max-width: 100%;
  display: block;
  position: relative;
}
.home .fb-connect:active {
  top: 1px;
}
.home .fb-connect:focus {
  outline: none;
}
.home .fb-facepile {
  padding-top: 50px;
  border-top: 1px dashed #cccccc;
}
@media screen and (max-width: 991px) {
  .mobile .home {
    padding-top: 20px;
    min-height: 0;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
//    background: none;
  }
  .mobile .home h1 {
    width: 85%; 
    margin: 0 0 20px 0;
    background-position-x: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
}
div#notifications_holder div#loading_indicator{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}



section#news ul.updates a h1,h2,h3,h4,h5{
	color: #3CA6E2 !important;
}



div#no_friends > *{
	display: inline-block;
}
div#no_friends img#toro{
	width: 49%;
}
div#no_friends > div#message{
	width: 49%;
	float: right;
	min-height: 300px;
	border: 5px solid #474D6A;
	background: #8A8B8F;
	padding: 10px;
	color: #FFF;
	border-radius: 10px;
	font-size: 24px;
}
@media screen and (max-width: 991px) {
	
}
@media screen and (max-width: 751px) {
	
 	div#no_friends img#toro{
		display: none;
	}
	div#no_friends > div#message{
		width: 100%;
	}
	
}

div#trending_gl ul li {
	border-bottom: 1px dashed #CCC;
}
div#trending_gl ul li img {
	width: 43px !important;
	border: 1px solid #474D6A;
}
div#trending_gl td > div span:not(.subtext) {
	text-decoration: underline;
}


section#news ul.updates p.news_item_date {
	font-size: 12px;
	color: #8A8B8F;
}
section#news .updates .time {
	padding-right: 0px !important;
}

section#news ul.updates {
	border-right: 0 !important;
}
section#news ul.updates li {
	border-bottom: 1px dashed #CCC;
}
section#news ul.updates div.avatar {
	border: 4px solid #474D6A;
	margin-top: 4px;
	padding: 0px;
	min-width: 57px;
	margin-bottom: 10px;	
}
section#news ul.updates div.avatar img {
	margin: 0;
	width: 50px;
}