/**
 * Handles responsive design through the use of the @respond-to mixin
 * 
 * @param $size ('tablet', 'mobile')
 */
.promoter {
  overflow: hidden;
}
.promoter header {
  border-bottom: 1px dashed #cccccc;
  padding: 20px 0;
  margin-bottom: 40px;
  overflow: hidden;
}
.promoter header h1 {
//  color: #52b0e5;
  color: #474D6A;
  font-size: 50px;
  float: left;
  margin: 0;
}
.promoter header .location {
  float: right;
  font-size: 40px;
  color: #777777;
}
.promoter .left {
  width: 30%;
  padding-right: 20px;
  text-align: center;
}
.promoter .right {
  width: 70%;
  padding-left: 20px;
}
@media screen and (max-width: 767px){
	.promoter .right{
		padding-left: 0px;
	}
}

.promoter .tabs {
  list-style: none;
  padding: 0 0 20px;
  margin: 0;
  overflow: hidden;
}
.promoter .tabs li {
  width: 31.5%;
  float: left;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  position: relative;
  background: #878787;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9b9b9b), color-stop(100%, #878787));
  background: -webkit-linear-gradient(#9b9b9b, #878787);
  background: -moz-linear-gradient(#9b9b9b, #878787);
  background: -o-linear-gradient(#9b9b9b, #878787);
  background: -ms-linear-gradient(#9b9b9b, #878787);
  background: linear-gradient(#9b9b9b, #878787);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.3);
}
.promoter .tabs li:first-child {
  margin-right: 1.375%;
}
.promoter .tabs li:nth-child(2) {
  margin: 0 1.375%;
}
.promoter .tabs li:last-child {
  margin-left: 1.375%;
}
.promoter .tabs li.active {
  background: #3594cb;
  background: url('/vcweb2/assets/web/images/highlight.png?1335933583') center 1px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3da8e4), color-stop(100%, #3594cb));
  background: url('/vcweb2/assets/web/images/highlight.png?1335933583') center 1px no-repeat, -webkit-linear-gradient(#3da8e4, #3594cb);
  background: url('/vcweb2/assets/web/images/highlight.png?1335933583') center 1px no-repeat, -moz-linear-gradient(#3da8e4, #3594cb);
  background: url('/vcweb2/assets/web/images/highlight.png?1335933583') center 1px no-repeat, -o-linear-gradient(#3da8e4, #3594cb);
  background: url('/vcweb2/assets/web/images/highlight.png?1335933583') center 1px no-repeat, -ms-linear-gradient(#3da8e4, #3594cb);
  background: url('/vcweb2/assets/web/images/highlight.png?1335933583') center 1px no-repeat, linear-gradient(#3da8e4, #3594cb);
  -webkit-box-shadow: 0 1px 0 #2273a8;
  -moz-box-shadow: 0 1px 0 #2273a8;
  box-shadow: 0 1px 0 #2273a8;
}
.promoter .tabs li.active:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 12px solid #3594cb;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  left: 50%;
  bottom: -12px;
  margin-left: -6px;
}
.promoter .tabs a {
  color: white;
  text-decoration: none;
  padding: 25px 0;
  display: block;
  outline: none;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
.promoter .tab-content {
  margin-bottom: 30px;
}
.promoter .tab-content section {
  background: white;
  padding: 30px;
}
.promoter .tab-content section h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.promoter .tab-content section h2 {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
}
.promoter .tab-content section ul.updates h2 {
  font-weight: 300;
}

.rating {
  width: 175px;
  margin: 0 auto;
  padding: 1px 0;
  position: relative;
  background: #666666;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #797979), color-stop(100%, #666666));
  background: -webkit-linear-gradient(#797979, #666666);
  background: -moz-linear-gradient(#797979, #666666);
  background: -o-linear-gradient(#797979, #666666);
  background: -ms-linear-gradient(#797979, #666666);
  background: linear-gradient(#797979, #666666);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin: 20px auto;
}
.rating:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid #666666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  left: 50%;
  bottom: -5px;
  margin-left: -2.5px;
}
.rating .stars {
  position: relative;
  width: 125px;
  height: 24px;
  margin: 10px auto;
}
.rating .stars-on,
.rating .stars-off {
  position: absolute;
  top: 50%;
  left: 0;
  height: 24px;
  margin-top: -12px;
}
.rating .stars-on {
  z-index: 200;
  background: url('/vcweb2/assets/web/images/star_on.png?1336008780') left center repeat-x;
}
.rating .stars-off {
  z-index: 100;
  width: 125px;
  background: url('/vcweb2/assets/web/images/star_off.png?1336008787') left center repeat-x;
}

#profile .bio {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #cccccc;
}
#profile .venues {
  list-style: none;
  padding: 0 0 15px;
  margin: 0 0 15px;
  border-bottom: 1px dashed #cccccc;
}
#profile .venues li {
  display: inline-block;
  width: 49%;
  margin-bottom: 15px;
  vertical-align: top;
}
#profile .venues li a {
  overflow: hidden;
  display: block;
}
#profile .venues li .logo {
  float: left;
  margin-right: 15px;
}
#profile .venues li .name {
  float: left;
  font-size: 20px;
  line-height: 2em;
}
#profile .venues li .name a {
  text-decoration: none;
  color: #3ca6e2;
}
#profile .venues li p {
  clear: both;
  float: left;
  margin-top: 15px;
  font-size: 12px;
}
#profile .venues li p .thumbnail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 5px;
}
#profile .updates {
  list-style: none;
  margin: 0;
  padding: 0;
}
#profile .updates li {
  overflow: hidden;
  margin: 30px 0;
}
#profile .updates .avatar {
  float: left;
  width: 8%;
  min-width: 50px;
}
#profile .updates .info {
  float: left;
  width: 92%;
}
#profile .updates .info h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
}
#profile .updates .info p {
  margin: 0;
  font-size: 12px;
}
@media screen and (max-width: 479px) {
  #profile .updates .avatar {
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  #profile .updates .info {
    float: none;
  }
  #profile .venues li {
    width: 100%;
  }
  #profile .venues li .logo,
  #profile .venues li .name {
    margin: 0 auto;
    display: block;
    float: none;
    text-align: center;
  }
}
#profile .updates .avatar {
  width: 12%;
}
#profile .updates .info {
  width: 88%;
}

#guestlist .guestlist-table table {
  width: 100%;
}
#guestlist .guestlist-table td, #guestlist .guestlist-table th {
  vertical-align: top;
}
#guestlist .guestlist-table td {
  padding: 10px 20px;
  border-bottom: 1px dashed #cccccc;
}
#guestlist .guestlist-table th {
  width: 100px;
  padding: 10px 5px;
  color: #3ca6e2;
  text-align: left;
  font-weight: normal;
  font-size: 12px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px dashed #cccccc;
}
#guestlist .guestlist-table th strong {
  font-size: 15px;
}
@media screen and (max-width: 479px) {
  #guestlist .guestlist-table {
    /* Hide table headers (but not display: none;, for accessibility) */
  }
  #guestlist .guestlist-table, #guestlist .guestlist-table thead, #guestlist .guestlist-table tbody, #guestlist .guestlist-table th, #guestlist .guestlist-table td, #guestlist .guestlist-table tr {
    display: block;
  }
  #guestlist .guestlist-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  #guestlist .guestlist-table th {
    width: 100%;
    padding-left: 10px;
    border-right: 0;
  }
  #guestlist .guestlist-table td {
    position: relative;
    padding: 10px;
    border-bottom: 0;
  }
}
#guestlist .guestlist-form {
  display: none;
  overflow: hidden;
}
#guestlist .guestlist-form-left {
  width: 35%;
  padding-right: 10px;
  float: left;
}
#guestlist .guestlist-form-right {
  width: 65%;
  padding-left: 10px;
  float: left;
}



@media screen and (max-width: 991px){
	.non_fb_plugin section#guestlist div.guestlist-form-left{
		display:block;
		float:none;
		width:100%;
	}
	.non_fb_plugin section#guestlist div.guestlist-form-right{
		display:block;
		float:none;
		width:100%;
		border-top:1px dashed #CCC;
		margin-top:10px;
		padding-top:10px;
	}
}


#guestlist .characters {
  font-size: 12px;
  text-align: right;
  margin: 0;
}
#guestlist .confirmation {
  background: #eee;
  padding: 10px;
}
#guestlist .confirmation .confirmation-details {
  padding: 10px 0;
  display: none;
}
#guestlist .facebook-invite {
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  border-top: 1px dashed #cccccc;
  border-bottom: 1px dashed #cccccc;
  text-decoration: none;
  font-weight: bold;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 14px;
  color: #5e5e5e;
}
#guestlist .facebook-invite img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
#guestlist #guestlist-message {
  width: 100%;
  margin: 5px 0 0;
  min-height: 112px;
  padding: 5px;
}
#guestlist #guestlist-share {
  margin-left: 0px;
}
#guestlist #guestlist-confirmation-phone {
  border: 1px solid #cccccc;
  padding: 5px;
  margin-right: 10px;
}
#guestlist .submit {
  text-align: right;
}
#guestlist .guestlist-button {
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  border: none;
  font-size: 12px;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
}
#guestlist .guestlist-button.submit {
  background: #2db163;
  color: #FFF;
  float: right;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #37ce73), color-stop(100%, #2db163));
  background: -webkit-linear-gradient(#37ce73, #2db163);
  background: -moz-linear-gradient(#37ce73, #2db163);
  background: -o-linear-gradient(#37ce73, #2db163);
  background: -ms-linear-gradient(#37ce73, #2db163);
  background: linear-gradient(#37ce73, #2db163);
  -webkit-box-shadow: 0 1px 0 #2db163;
  -moz-box-shadow: 0 1px 0 #2db163;
  box-shadow: 0 1px 0 #2db163;
}
#guestlist .guestlist-button.cancel {
  background: #d44d38;
  color: #FFF;
  float: left;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e7543d), color-stop(100%, #d44d38));
  background: -webkit-linear-gradient(#e7543d, #d44d38);
  background: -moz-linear-gradient(#e7543d, #d44d38);
  background: -o-linear-gradient(#e7543d, #d44d38);
  background: -ms-linear-gradient(#e7543d, #d44d38);
  background: linear-gradient(#e7543d, #d44d38);
  -webkit-box-shadow: 0 1px 0 #d44d38;
  -moz-box-shadow: 0 1px 0 #d44d38;
  box-shadow: 0 1px 0 #d44d38;
}
#guestlist .tables {
  list-style: none;
  padding: 0;
  margin: 0;
}
#guestlist .tables li {
  overflow: hidden;
  margin-bottom: 25px;
}
#guestlist .tables a {
  text-decoration: none;
}
#guestlist .tables .info {
  float: left;
  width: 50%;
}
#guestlist .tables div.info > div{
	display: inline-block;
	vertical-align: top;
}
#guestlist .tables div.info div.gl_text{
	max-width: 200px;
}
#guestlist .tables .info .name {
  font-size: 16px;
  margin-bottom: 5px;
}
#guestlist .tables .info .location {
  font-size: 12px;
}
#guestlist .tables .friends {
  float: left;
  width: 45%;
  font-size: 12px;
}
#guestlist .tables .friends img {
  display: inline-block;
  vertical-align: middle;
}
#guestlist .tables .action {
  float: right;
  width: 25%;
  padding-left: 20px;
}
#guestlist .tables .action a {
  background: #3ca6e2;
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  text-decoration: none;
}
#guestlist .tables .action a.inactive {
  background: #777777;
  cursor: default;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  #guestlist .tables .info, #guestlist .tables .friends, #guestlist .tables .action {
    float: none;
    width: auto;
  }
  #guestlist .tables .friends {
    margin: 15px 0;
  }
  #guestlist .tables .action {
    padding-left: 0;
  }
}
@media screen and (max-width: 479px) {
  #guestlist .tables .info, #guestlist .tables .friends, #guestlist .tables .action {
    float: none;
    width: auto;
    text-align: center;
  }
  #guestlist .tables .friends {
    margin: 15px 0;
  }
}
@media screen and (max-width: 479px) {
  #guestlist .guestlist-form-left, #guestlist .guestlist-form-right {
    width: 100%;
    float: none;
    padding: 0;
  }
  #guestlist .guestlist-form-left {
    text-align: center;
  }
  #guestlist .guestlist-form-right {
    margin-top: 20px;
  }
  #guestlist #guestlist-share {
    margin-left: 0;
  }
  #guestlist .facebook-invite img {
    display: block;
    margin: 0 auto 10px;
  }
}

.promoter .left, .promoter .right {
  float: left;
}

@media screen and (max-width: 767px) {
  .promoter header h1 {
    text-align: center;
    width: 100%;
  }
  .promoter header .location {
    float: none;
    text-align: center;
    clear: both;
  }
  .promoter .left, .promoter .right {
    width: 100%;
    float: none;
    padding-right: 0;
  }
}

table.pro_overview td{
	vertical-align: top;
}

.overview_pic_td {
	min-width: 80px;
}

.name_block p.sub_details {
	margin-top: 0;
	margin-bottom: 0;
}

.friend_img {
	margin-right: 5px;
	margin-bottom: 2px;
}

.promoter_venue_list_a {
	font-size: 12px !important;
	margin: 0; 
	float: right;
}



.promoter_venue_box {
	width: 48%;
	display: inline-block;
}
.promoter_venue_box:odd {
	float: left;
}
.promoter_venue_box:event {
	float: right;
}

/*
#profile p.tv_friends a img{
	width: 20px;
	height: 20px;
}*/