/**
 * Handles responsive design through the use of the @respond-to mixin
 * 
 * @param $size ('tablet', 'mobile')
 */
.subtitle {
  font-size: 18px;
  font-style: italic;
  margin: 0 0 20px 0;
  padding: 20px 0;
  border-bottom: 1px dashed #cccccc;
}

.venue-list {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
  overflow: hidden;
}
.venue-list li {
  width: 33.333%;
  margin-bottom: 20px;
  float: left;
  padding-right: 15px;
}
.venue-list li .venue-image {
//  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.venue-list li a {
//  display: block;
  font-size: 22px;
  text-decoration: none;
}
.venue-list li p {
  font-size: 12px;
}
.venue-list li p img {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .venue-list li div.name_block{
	max-width: 175px;
  }
}
@media screen and (max-width: 767px) {
  .venue-list li {
    width: 50%;
  }
  .venue-list li div.name_block{
  	max-width: 140px;
  }
}
@media screen and (max-width: 479px) {
  .venue-list li {
    width: 100%;
  }
  .venue-list li div.name_block{
  	max-width: 200px;
  }
}

#venues_overview div.tv_friends{
	max-width: 286px;
	color: #000;
}
#venues_overview div.tv_friends a{
	margin-right: 5px;
	margin-bottom: 5px;
}
#venues_overview div.tv_friends a img{
	width: 20px;
	height: 20px;
}