.home {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 100px;
  min-height: 826px;
  background: url('../images/splash.png?1335926711') center top no-repeat;
}
.home h1 {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url('../images/logo_large.png?1335304870') left center no-repeat;
  width: 699px;
  height: 79px;
  margin: 0 auto 100px;
}
.home p {
  font-size: 18px;
}
.home .fb-connect {
  margin: 50px auto;
  width: 319px;
  display: block;
  position: relative;
}
.home .fb-connect:active {
  top: 1px;
}
.home .fb-connect:focus {
  outline: none;
}
.home .fb-facepile {
  padding-top: 50px;
  border-top: 1px dashed #cccccc;
}
