div.vl {
	margin-left: auto; 
	margin-right: auto; 
	display: inline-block; 
	//width: 980px; 
	width: 100%;
	text-align: center;
}

div.vl div.vlf {
	position: relative; 
	display: inline-block;
	//margin-top: 20px;
	margin: 10px;
}

div.vl div.vlf div.item {
	overflow: hidden;
}

div.vl div.vlf span.vlf_title {
	position: absolute;
	top: 0;
	left: 0;
	color: red;
	padding: 2px;
}

div.vl div.vlf div.table.highlighted {
	background: red !important;
}
div.vl div.vlf div.table span.title {
	white-space: nowrap;
}
