/* ---------- venue layout styles ----------- */
div#tabs > div.ui-widget-header > ul{
	display:none;
}

div#tabs{
	width: 1050px;
	margin-bottom: 80px;
}

div.vlf{
	background: rgb(38, 38, 38);
	margin-top: 20px;
	margin-right: 20px;
	//cursor: pointer;
	//overflow: hidden;
}

div.vlf div.item{
	position: absolute;
	font-size: 9px;
	background: transparent;
//	z-index: 1; 
	color: #FFF;
	vertical-align: middle;
	text-align:left;
	padding: 1px;
	border: 1px solid #000;
}

div.vlf div.reserved{
	background: darkRed;
}

div.vlf div.item span.title{
	position: relative;
	top: -5px;
}

div.vlf div.table div.max_capacity{
	position: relative;
	top: -14px;
}

div.item > div.day_price{
	display:none !important;
}

div.table{
	border: 1px solid red !important;
	cursor: pointer;
	z-index: 1 !important;
}

div.table > div.max_capacity{
	font-size: 9px !important;
	position: relative;
	top: -5px;
}

div.dancefloor{
	background: #000 !important;
	z-index: 0 !important;
}


div.djbooth{
	border: 1px solid rgb(140, 30, 30) !important;
}

div.bathroom{
	border: 2px solid #FFF !important;
}



div.item.bar {
	border: 1px dashed #CCC !important;
}
div.stage{
	background: #000 !important;
	z-index: 0 !important;
	border: 1px dashed #C60 !important
}




div.entrance{
	border: 2px solid #FFF !important;
}

div.stairs{
	border: 1px solid rgb(74, 74, 74) !important;
}
div.vl div.vlf span.vlf_title {
	z-index: 1;
	background:#000;
	color: #FFF !important;
}





div#vlf_dialog div#vlf_dialog_floor{
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(38, 38, 38);
	border: 1px solid #000;
	position: relative;
}

div#vlf_dialog div#vlf_dialog_floor div.item{
	position: absolute;
	font-size: 9px;
	background: transparent;
	z-index: 1; 
	color: #FFF;
	vertical-align: middle;
	text-align:left;
	padding: 1px;
	border: 1px solid #000;
}

div#vlf_dialog div#vlf_dialog_floor div.item > div.day_price{
	display:none !important;
}

div#vlf_dialog div#vlf_dialog_floor div.table{
	border: 1px solid red !important;
}

div#vlf_dialog div#vlf_dialog_floor div.reserved{
	border: 1px solid red !important;
	background: darkRed;
}

div#vlf_dialog div#vlf_dialog_floor div.table > div.max_capacity{
	font-size: 9px !important;
	position: relative;
	top: -5px;
}

div#vlf_dialog div#vlf_dialog_floor div.dancefloor{
	background: #000 !important;
	z-index: 0 !important;
}

div#vlf_dialog div#vlf_dialog_floor div.stage{
	background: #000 !important;
	z-index: 0 !important;
}

div#vlf_dialog div#vlf_dialog_floor div.djbooth{
	border: 1px solid rgb(140, 30, 30) !important;
}

div#vlf_dialog div#vlf_dialog_floor div.bathroom{
	border: 2px solid #FFF !important;
}

div#vlf_dialog div#vlf_dialog_floor div.entrance{
	border: 2px solid #FFF !important;
}

div#vlf_dialog div#vlf_dialog_floor div.stairs{
	border: 1px solid rgb(74, 74, 74) !important;
}

div#vlf_dialog div#vlf_dialog_floor div.item div.vlfi_id{
	display: none;
}

div.vlf div.vlf_title{
	position: absolute;
	left: 0px;
	top: -20px;
}



div.vl {
	margin-left: auto; 
	margin-right: auto; 
	display: inline-block; 
	//width: 980px; 
	width: 100%;
	text-align: center;
}

div.vl div.vlf {
	position: relative; 
	display: inline-block;
	//margin-top: 20px;
	margin: 10px;
}

div.vl div.vlf div.item:not(.table) {
	overflow: hidden;
}

div.vl div.vlf span.vlf_title {
	position: absolute;
	top: 0;
	left: 0;
	color: red;
	padding: 2px;
}

div.vl div.vlf div.table.highlighted {
	background: red !important;
}
div.vl div.vlf div.table span.title {
	white-space: nowrap;
}




#admin_manager_settings_venues_edit_floorplan_wrapper div.venue_floor{
	width: 800px;
	height: 600px;
	border: 1px solid black;
	background: rgb(38, 38, 38);
	position: relative;
	cursor: default !important;
	margin-left: auto;
	margin-right: auto;
}



#admin_manager_settings_venues_edit_floorplan_wrapper div.venue_floor .vlf_title {
	cursor:pointer; 
	text-decoration:underline; 
	position:absolute; 
	top:4px; 
	left:4px; 
	color:#FFF; 
	font-size:16px;
}




#admin_manager_settings_venues_edit_floorplan_wrapper div.venue_floor div.table > span.title{
	cursor: pointer;
	text-decoration: underline;
	white-space: nowrap;
	overflow: hidden;
	font-size: 11px;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.items{
	background: rgb(38, 38, 38);
	padding: 5px;
	text-align: center;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.items > div.item{
	cursor: pointer;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.item{
	width: 58px;
	height: 58px;
	border: 1px solid #000;
	font-size: 11px;
	background: transparent;
	z-index: 1; 
	color: #FFF;
	display: inline-block;
	vertical-align: middle;
	text-align:left;
	padding: 1px;
	overflow: hidden;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.item > div.tooltip{
	display: none;
	position: absolute;
	width: 100px;
	min-height: 150px;
	right: -102px;
	top: 0px;
	background: #FFF;
	color: #000;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.item > div.day_price{
	display:none;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.table{
	border: 1px solid red;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.table > div.max_capacity{
	font-size: 20px;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.dancefloor{
	background: #000;
	z-index: 0;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.stage{
	background: #000;
	z-index: 0;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.djbooth{
	border: 1px solid rgb(140, 30, 30);
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.bathroom{
	border: 2px solid #FFF;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.entrance{
	border: 2px solid #FFF;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.stairs{
	border: 1px solid rgb(74, 74, 74);
}

#admin_manager_settings_venues_edit_floorplan_wrapper .ui-draggable-dragging > div.tooltip{
	display:none !important;
	z-index:10000;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.items > div.item > div.del{
	display: none;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.venue_floor > div.item > div.del{
	display: block;
	position: absolute;
	top: -3px;
	right: 2px;
	cursor: pointer;
	margin: 2px;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.item > div.ui-resizable-handle{
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.ui-tabs-panel{
	padding: 0px !important;
}

#admin_manager_settings_venues_edit_floorplan_wrapper div.ui-widget-header span.add_floor{
	color: green;
	text-decoration: underline;
	cursor: pointer;
}
#admin_manager_settings_venues_edit_floorplan_wrapper div.ui-widget-header span.del_floor{
	color: red;
	text-decoration: underline;
	cursor: pointer;
}
#admin_manager_settings_venues_edit_floorplan_wrapper div#table_add_dialog p{
	margin-bottom: 4px;
}
#admin_manager_settings_venues_edit_floorplan_wrapper div#table_add_dialog span.note{
	margin-left: 15px;
	color: gray;
}
#admin_manager_settings_venues_edit_floorplan_wrapper div#table_add_dialog label{
	float: left;
}
#admin_manager_settings_venues_edit_floorplan_wrapper div#table_add_dialog input{
	float: right;
}
#admin_manager_settings_venues_edit_floorplan_wrapper div#table_add_dialog fieldset > div > input{
	vertical-align: middle;
}
#admin_manager_settings_venues_edit_floorplan_wrapper a{
	text-decoration: none !important;
}
#admin_manager_settings_venues_edit_floorplan_wrapper div#table_add_dialog p.error{
	height: 50px;
}


ul li.ui-tabs-active a {
	color: red !important;
	text-decoration: underline !important;
}
